//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$notbook-width: 1120px;
$desktop-width: 1440px;

//colors
$main-color: #ff3e79;
$text-color: #1b1c21;
$block-color: #f8f8f8;
$grey-text-color: #7e7e82;
$border-color: #41f6d7;
$lite-color: #ffffff;
$border-color-lite: #d9fff5;
$active-pagination-color: #979797;

//Fonts
$default-font: "TTLakes-Regular", "Arial", sans-serif;
$font-bold: "TTLakes-Bold", "Arial", sans-serif;
