.brends-list {
  &__item {
    background-color: $lite-color;
    width: 240px;
    height: 72px;
    padding: 16px;
    background-repeat: no-repeat;
    background-position: 16px center;
    border-radius: 6px;

    @include media-tablet {
      width: 224px;
      margin: 0 0 16px 16px;
    }

    @include media-notbook {
      width: 240px;
    }

    &--lenov {
      background-image: url(../img/Bitmap.svg);
    }

    &--sams {
      background-image: url(../img/Bitmap2.svg);
    }

    &--apple {
      background-image: url(../img/Bitmap3.svg);
    }

    &--view {
      background-image: url(../img/Bitmap4.svg);
    }

    &--bosh {
      background-image: url(../img/Bitmap5.svg);
    }

    &--hp {
      background-image: url(../img/Bitmap6.svg);
    }

    &--acer {
      background-image: url(../img/Bitmap7.svg);
    }

    &--sony {
      background-image: url(../img/Bitmap8.svg);
    }
  }

  &__link-go {
    margin-left: auto;
  }

  &__more-item {
    display: none;
  }
}
