.brends {
  &__wrapper {
    padding-bottom: 24px;

    @include media-tablet {
      padding: 24px 0;
    }

    @include media-notbook {
      padding-bottom: 24px;
    }
  }

  &__swiper {
    max-width: 997px;

    @include media-notbook {
      max-width: 1230px;
    }
  }

  &__slide-list {
    margin: 16px 0;

    @include media-tablet {
      margin: 0 24px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__slide-item {
    background-color: $lite-color;
    width: 240px;
    height: 72px;
    padding: 16px;
    background-repeat: no-repeat;
    background-position: 16px center;
    border-radius: 6px;

    &--lenov {
      background-image: url(../img/Bitmap.svg);
    }

    &--sams {
      background-image: url(../img/Bitmap2.svg);
    }

    &--apple {
      background-image: url(../img/Bitmap3.svg);
    }

    &--view {
      background-image: url(../img/Bitmap4.svg);
    }

    &--bosh {
      background-image: url(../img/Bitmap5.svg);
    }

    &--hp {
      background-image: url(../img/Bitmap6.svg);
    }

    &--acer {
      background-image: url(../img/Bitmap7.svg);
    }

    &--sony {
      background-image: url(../img/Bitmap8.svg);
    }

    &--hidden {
      @include media-tablet {
        display: none;
      }

      @include media-notbook {
        display: block;
      }
    }

    @include media-tablet {
      width: 240px;
      margin: 0 0 16px 0;
    }
  }

  &__link {
    display: block;
    background-image: url(../img/ic/go.svg);
    margin-left: auto;
  }

  &__more {
    display: none;
    margin: 0 0 0 24px;

    @include media-tablet {
      display: block;
    }
  }
}
