.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1920px;
  background-color: $block-color;

  @include media-tablet {
    padding: 0 24px;
  }

  @include media-notbook {
    padding: 0 34px;
  }
}
