.feedback-icon {
  display: flex;

  &__item {
    margin-right: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;

    &:hover {
      filter: opacity(30%);
    }

    &:active {
      filter: opacity(70%);
    }

    &--phone {
      background-image: url(../img/ic/call.svg);
    }

    &--message {
      background-image: url(../img/ic/chat.svg);
    }

    &--contact {
      background-image: url(../img/ic/profile.svg);
    }
  }
}
