.more-button {
  position: relative;
  width: 133px;
  height: 24px;
  text-align: right;
  background-color: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  &:hover {
    filter: opacity(30%);
    cursor: pointer;
  }

  &:active {
    filter: opacity(70%);
  }

  &::before {
    content: "";
    background-image: url(../img/ic/arr.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    left: 14px;
    top: 25%;
    position: absolute;
  }

  &__close {
    width: 90px;
    
    &::before {
      transform: rotate(180deg);
      left: -2px;
      top: -7px;
    }
  }
}
