.repair-brend {
  &__container {
    padding-bottom: 24px;

    @include media-tablet {
      padding: 24px 0;
    }

    @include media-notbook {
      padding-bottom: 24px;
    }
  }

  &__swiper {
    max-width: 997px;

    @include media-notbook {
      max-width: 1450px;
    }

    @include media-desktop {
      max-width: 1920px;
    }
  }

  &__more-button {
    display: none;
    margin: 0 0 0 24px;

    @include media-tablet {
      display: block;
    }
  }
}
