.title {
  font-family: $font-bold;
  font-size: 28px;
  letter-spacing: -0.6px;
  position: relative;

  &::before {
    content: "";
    border-left: 4px solid $border-color;
    height: 40px;
    border-radius: 0 4px 4px 0;
    left: -16px;
    position: absolute;

    @include media-tablet {
      left: -24px;
    }

    @include media-notbook {
      left: -34px;
    }
  }
}
